Taxlots_(Public).geojson filter=lfs diff=lfs merge=lfs -text
Zoning.zip filter=lfs diff=lfs merge=lfs -text
Processed_PortlandLots_2026.geojson filter=lfs diff=lfs merge=lfs -text
2018-2022_PortlandTaxlotAssessments.geojson filter=lfs diff=lfs merge=lfs -text
Building_Footprints_-8229304965479720636.zip filter=lfs diff=lfs merge=lfs -text
Vacant_and_Developed_Land_2018.geojson filter=lfs diff=lfs merge=lfs -text
Vacant_and_Developed_Land_2022.geojson filter=lfs diff=lfs merge=lfs -text
